

<div class="row">
  <div class="col">
    <!--     <form autocomplete="off" [formGroup]="miFormulario"> -->
    <form>
      <div class="container row d-flex">
         <h2>¿Qué quieres hacer?</h2>
         <div class="col">
            <button type="submit" class="btn btn-primary float-end">
               ordenar alfabèticament
            </button>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary float-end">
               ordenar per data
            </button>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary float-end">
               reinicialitzar  ordre
            </button>
          </div>

      </div>
    </form>
  </div>
</div>
