<div class="container border border-dark border-3">

  <div class="mb-3 row">
    <label class="col-sm-4 col-form-label">Número de páginas:</label>
    <div class="col-sm-8  d-flex">
      <button type="button" class="btn btnCalculo" (click)="acumularPag(+1)"><strong>+</strong></button>
      <input id="inpPag"  type="text" class="form-control " placeholder="" value="{{ numPag }}  ">
      <button type="button" class="btn btnCalculo " (click)="acumularPag(-1)" ><strong>-</strong></button>
    </div>

  </div>


  <div class="mb-3 row">
    <label class="col-sm-4 col-form-label">Número de idiomas:</label>
    <div class="col-sm-8 d-flex">
      <button type="button" class=" btn btnCalculo" (click)="acumularIdi(+1)"><strong>+</strong></button>
      <input id="inpIdioma" type="text" class="form-control " placeholder="" value="{{ numIdi }}" >
      <button type="button" class="btn btnCalculo " (click)="acumularIdi(-1)" ><strong>-</strong></button>
    </div>
  </div>


</div>
