
<div class="row">
   <div class="col">

      <form autocomplete="off" [formGroup] ="miFormulario">

         <div class="container border border-dark border-3 divCuadro">

            <!-- Campo de Página-->
            <div class="mb-3 row divRow">
              <label class="col-sm-4 col-form-label">Páginas:</label>
              <div class="col-sm-8  d-flex">
                <button type="button" 
                        class="btn btnCalculo"
                        (click)="modificar(+1,'paginas');
                                  inpTextChange( $event )" >
                  <strong>+</strong>
                </button>
          
                <input id="inpPag" 
                   type="text" 
                   class="form-control " 
                   formControlName="paginas" 
                   placeholder="" 
                   (change)="inpTextChange( $event )">
     
                <button type="button" 
                        class="btn btnCalculo "
                        (click)="modificar(-1,'paginas');
                                  inpTextChange( $event )" >
                  <strong>-</strong>
                </button>
              </div>
            </div>
          
            <!-- Campo de Idiomas-->
            <div class="mb-3 row divRow">
              <label class="col-sm-4 col-form-label">Idiomas:</label>
              <div class="col-sm-8  d-flex">
                <button type="button" 
                        class="btn btnCalculo"
                        (click)="modificar(+1, 'idiomas');
                                 inpTextChange( $event )" >
                  <strong>+</strong>
                </button>
          
                <input id="inpIdi" 
                   type="text" 
                   class="form-control " 
                   formControlName="idiomas" 
                   placeholder="" 
                   (change)="inpTextChange( $event )">
                
                <button type="button" 
                        class="btn btnCalculo "
                        (click)="modificar(-1, 'idiomas');
                                 inpTextChange( $event )" >
                  <strong>-</strong>
                </button>
              </div>
            </div>
               
          </div>
          
      </form>
   </div>
</div>

