
<div class="row">
   <div class="col">

      <form autocomplete="off" [formGroup] ="miFormulario">

         <div class="container border border-dark border-3 divCuadro">

            <!-- Campo de Página-->
            <div class="mb-3 row divRow">
              <label class="col-sm-4 col-form-label">Páginas:</label>
              <div class="col-sm-8  d-flex">
                <button type="button" 
                        class="btn btnCalculo"
                        (click)="modificar(+1,'paginas');
                                  inpTextChange( $event );
                                  agregarSpanTotal()" >
                  <strong>+</strong>
                </button>
          
                <input id="inpPag" 
                   type="text" 
                   class="form-control " 
                   formControlName="paginas" 
                   placeholder="" 
                   (change)="inpTextChange( $event )">
     
                <button type="button" 
                        class="btn btnCalculo "
                        (click)="modificar(-1,'paginas');
                                 inpTextChange( $event );;
                                 agregarSpanTotal()" >
                  <strong>-</strong>
                </button>
              </div>
            </div>
          
            <!-- Campo de Idiomas-->
            <div class="mb-3 row divRow">
              <label class="col-sm-4 col-form-label">Idiomas:</label>
              <div class="col-sm-8  d-flex">
                <button type="button" 
                        class="btn btnCalculo"
                        (click)="modificar(+1, 'idiomas');
                                 inpTextChange( $event );;
                                 agregarSpanTotal()" >
                  <strong>+</strong>
                </button>
          
                <input id="inpIdi" 
                   type="text" 
                   class="form-control " 
                   formControlName="idiomas" 
                   placeholder="" 
                   (change)="inpTextChange( $event )">
                
                <button type="button" 
                        class="btn btnCalculo "
                        (click)="modificar(-1, 'idiomas');
                                 inpTextChange( $event );
                                 agregarSpanTotal()" >
                  <strong>-</strong>
                </button>
              </div>
            </div>
               
          </div>
        
      </form>
      <hr>
      <hr>
      <!--  
      <ng-template #contenido let-modal  >
            <div class="modal-header">
              <h4 class="modal-title">Titulo Modal</h4> 
              <button class="close" aria-label="close" type="button" (click)="modal.dismiss()" >
                 <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
               En este componente debe indicar el número de páginas que tendrá su sitio web.
            </div>
            <div class="modal-footer">
               <button  type="button" class="btn btn-success" (click)="modal.close()" >Ok!</button>
            </div>
      </ng-template>
      <button type="button" class="btn btn-outline-danger" (click)="openSM(contenido)">lanzar modal SM</button>
      <button type="button" class="btn btn-outline-success" (click)="openLG(contenido)">lanzar modal LG</button>
      <button type="button" class="btn btn-outline-secundary" (click)="openXL(contenido)">lanzar modal XL</button>
      <button type="button" class="btn btn-outline-centrado" (click)="openCentrado(contenido)">lanzar modal XL</button>
      -->
   </div>
</div>

