<div class="row">
   <div class="col">
   <br /> <br />
   <h1>PRESUPUESTOS</h1>
   <P>Cáldulo de presupuestos y su posterior control. </P>
   <br />
   <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quis possimus excepturi obcaecati et, voluptatibus fuga temporibus repudiandae illum sed, fugiat quas laudantium, qui praesentium. Sunt nobis dicta quam quos?</strong></p>
   <br />
   <br />

      <h4>CALCULADORA</h4>
   <hr>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa aperiam illum veritatis accusamus quod sapiente quasi. Perspiciatis, in temporibus nisi saepe omnis est quas dolorem dignissimos quibusdam provident suscipit ipsa.</p>
   <br />
   <h4>GESTIÓN DE PRESUPUESTOS</h4>
   <hr>
   <p><span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis accusantium dolores expedita deleniti minima natus id labore, tempore omnis porro molestiae explicabo beatae ut voluptatum necessitatibus suscipit odio, inventore facilis.</span></p>


</div>
</div>
