
<div class="row">
   <div class="col">
      <form autocomplete="off" [formGroup] = "miFormulario">
         <div class="container row d-flex">

            <!-- Calculo del presupuesto -->
            <div class="left col-sm-8">
          
              <h2>¿Qué quieres hacer?</h2>
              <br />
            <!--   checkbox WWEB     -->
              <div class="form-check">
                <input class="form-check-input" 
                        type="checkbox" 
                        formControlName="web" 
                        id="flexCheckWeb" 
                        (change)="onCheckboxChange( $event )"
                        (click)="mostrarPanell()">
                <label class="form-check-label" for="flexCheckWeb">
                  Una página web (500 €)
                </label>
              </div>
              <div *ngIf=" irPanell ">
                <app-panell></app-panell>
              </div>

              <!--   checkbox SEO     -->
              <div class="form-check">
                  <input class="form-check-input" 
                        type="checkbox" 
                        formControlName="seo" 
                        id="flexCheckSeo" 
                        (change)="onCheckboxChange( $event )" >
                   <label class="form-check-label" for="flexCheckSeo">
                      Una consultoria SEO (300 €)
                   </label>
              </div>

            <!--   checkbox Google Ads    -->
              <div class="form-check">
                  <input class="form-check-input" 
                           type="checkbox"
                           formControlName="ads" 
                           id="flexCheckAds" 
                           (change)="onCheckboxChange( $event )">
                  <label class="form-check-label" for="flexCheckAds">
                     Una campanya de Google Ads (200 €)
                  </label>
              </div>
              <br />
              <div>
               <span class="form-text text-danger"
                     *ngIf="campoEsValido('nomPpto')" >
                     Como mínimo ha de seleccionar una opción
               </span>
              </div>
          <!--   Precio TOTAL    -->
              <div>
                <p> <span> <strong>  Precio: {{spanTotal}} €  </strong></span> </p>
              </div>
              <div class="row">
               <div class="col">
                 <button class="btn btn-primary float-end" 
                         (click)="recibirCalculo()"
                         >
                   Calcular
                 </button>
               </div>
             </div>
              <br />
              <br />
              <hr><br />
          
            <!-- datos del Presupuesto -->

             <div class="mb-3 ">
                <label class="col-sm-4 col-form-label">Presupuesto:</label>

                <div class="col-sm-8 d-flex">
                  <input type="text" 
                        class="form-control " 
                        formControlName="nomPpto" 
                        placeholder="Ref. Presupuesto">
                </div>
                <span class="form-text text-danger"
                        *ngIf="campoEsValido('nomPpto')" >
                       Debe de ser de 8 letras
                </span>
                <br /> 
                <div>
                  <label class="col-sm-4 col-form-label">Cliente:</label>
                  <div class="col-sm-8 d-flex">
                    <input type="text" 
                      class="form-control " 
                      formControlName="nomCliente" 
                      placeholder="Nombre del Cliente">
                  </div>
                  <span class="form-text text-danger"
                        *ngIf="campoEsValido('nomCliente')" >
                     Falta nombre del Cliente
                   </span>
                </div>

                <br />
                <div class="row">
                  <div class="col">
                    <button type="submit" 
                            class="btn btn-primary float-end" 
                            (click) = "guardar()">
                      Guardar
                    </button>
                  </div>
                </div>
                
               <hr>
              </div>
            </div>
            <!-- datos del Presupuesto -->      
                
          </div>
     </form>

   </div>
</div>

